<div class="dashboard-container ">
    <mat-toolbar  >
      DashBoard
      
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          
        
        <mat-icon>expand_more</mat-icon></button>
      
      
    
    </mat-toolbar>
    <div class="content">
<app-home></app-home>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
          </div>
          </div>