.overlayy{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}
.splashImg{
    display: none;
}
.btn-blue{
    margin-top: 30px;
    background-color:#0d6efd;
    color: white;
    width: 100%;
    border-radius: 15px;
   
}

