
<div class="form-container mat-elevation-z5" ><h3 class="text-center">Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field >
        <input matInput placeholder="Email address" formControlName="email" autocomplete="off"/>
        <mat-error *ngIf="email?.errors?.['required']">Email is Required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Please enter a correct Email Format</mat-error>
    </mat-form-field>
<mat-form-field>    
        <input matInput placeholder="Password" type="password" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']">Password is Required</mat-error>
    </mat-form-field>
    <div class="center margin-top">
        <button mat-raised-button type="submit"> Login</button>
    </div>
    <div class="center margin-top">  
    <span class="h6">New To Our Platform ?<a class="signup-link" [routerLink]="['/signup']"> Sign Up</a></span>
    </div>
</form></div>