<div class="form-container">

    <h1 class="m-0">Welcome Back,<br><b>User</b></h1>
    <p class="pb-1">Hope you are doing great?</p>


    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>
                <mat-icon>mail</mat-icon> Email Address
            </mat-label>
            <input matInput placeholder="Email address" formControlName="email" autocomplete="off" />
            <mat-error *ngIf="email?.errors?.['required']">Email is Required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Please enter a correct Email Format</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                <mat-icon>lock</mat-icon> Password
            </mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password" />
            <mat-error *ngIf="password?.errors?.['required']">Password is Required</mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button class="btn-blue" mat-flat-button type="submit"> Login</button>
        </div>
        <div class="center margin-top">
            <button class="btn-blue" mat-flat-button [routerLink]="['/signup']"> Sign Up</button>
        </div>
    </form>
</div>